<header class="app-header">
  <p class="app-title">とっとく？</p>
</header>

<main class="app-main">
  <p class="titlelg">とっとく？</p>
  <p class="bodysm">
    書類の保管・整理をもっとかんたんに
  </p>

  <div class="btn-l btn-btm">
    <div id="expiry-button" class="guest-btn btn">
      ためしてみる
    </div>
    <%= link_to '新しく登録する', new_user_registration_path, class: 'btn btn-secondary' %>
    <%= link_to 'ログインして使う', new_user_session_path, class: 'btn btn-primary' %>
  </div>
</main>

<footer class="app-footer">
  <p>© 2025 Tottoku</p>
</footer>

<div id="guest-modal" class="guest-modal" style="display: none;">
  <div class="guest-box">
    <span id="guest-close" class="close">&times;</span>
    <p class="expiry-title">どちらでログインしますか？</p>
    <div class="guest-btns">
      <%= link_to '管理者ゲストでログイン', method: :post, admin_guest_sign_in_path, class: 'btn btn-secondary' %>
      <%= link_to '一般ゲストでログイン', method: :post, guest_sign_in_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>