<!-- app/views/static_pages/home.html.erb -->
<h1>とっとく？</h1>
<p>書類の保管・整理をもっとかんたんに</p>

<%= link_to 'ログインして使う', login_path, class: 'btn btn-primary' %><br>
<%= link_to '新しく登録する', signup_path, class: 'btn btn-secondary' %>