<% if object.errors.any? %>
  <div class="error-flash closeable-error" id="flash-errors">
    <button type="button" class="close-btn">×</button>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
