body {
  margin: 0;
  background-color: #F2F7FB;
  font-family: 'Noto Sans JP', sans-serif;
} 

.hidden {
  display: none;
} 

.subtitlemd {
  font-size: 20px;
} 

.text-l {
  font-size: 16px;
  font-weight: bold;
} 

.bodysm {
  font-size: 16px;
} 

.bodysm-s {
  font-size: 14px;
} 

.document-info-content .text-l {
  font-size: 14px;
} 

.tab-content p {
  text-align: left;
} 

.tab-content .bodysm-s {
  margin-bottom: 24px;
} 