@import "css/normalize";
//* @import "rails_admin"; */
/*
 *= require rails_admin
*/

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #F2F7FB;
  overflow: hidden;
  font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "Yu Gothic", "Noto Sans JP", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  /* font-size: 16px; */
  margin: 0;
  /* text-align: center; */
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 68px;
  width: 100%;
  background-color: #7EBDE2;
  margin-top: 0;
  z-index: 3;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}
.admin-link {
  color: #FFFFFF; /* 文字色を白に */
  text-decoration: none; /* 下線をなくす */
  padding-left: 16px; /* 「とっとく？」との間隔 */
}

/* 非表示 */
.hidden {
  display: none;
}

.app-title-link {
  text-decoration: none; /* 下線をなくす */
  color: inherit; /* 親要素の文字色を継承 */
  display: flex; /* Flexboxで中のpタグを中央寄せ */
  align-items: center; /* 垂直方向の中央寄せ */
  height: 100%; /* 親要素の高さに合わせる */
}

.app-title {
  font-size: 20px;
  margin: 0;
  padding-left: 16px;
  color: #FFFFFF;
}

.titlelg {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 16px;
}

.subtitlemd {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.subtitlemd04 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 32px;
}

.text-l {
  font-size: 16px;
  font-weight: bold;
}

.bodysm {
  font-size: 16px;
  margin-bottom: 16px;
}

.bodysm-s {
  font-size: 14px;
}

.info .bodysm {
  margin-bottom: 8px;
}

.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 68px;
  padding-bottom: 88px;
  box-sizing: border-box;
  text-align: center; /* フォーム内のテキストは中央寄せ */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* フォームグループ（ラベルと入力欄のセット） */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* ラベルを左寄せに */
  width: 320px; /* 入力欄の幅に合わせる */
  margin-bottom: 24px; /* 各要素間の間隔 */
}
.form-group label {
  font-size: 16px; /* 文字の大きさ16px */
  margin-bottom: 8px; /* ラベルとフォームの間隔8px */
}
.input-field {
  width: 320px; /* 入力欄フォームの寸法320px */
  height: 44px; /* 入力欄フォームの寸法44px */
  padding: 8px 12px;
  border: 1px solid #CCCCCC; /* ボーダー色をグレーに */
  border-radius: 8px; /* 角の半径8px */
  box-sizing: border-box;
  font-size: 16px; /* 入力文字のサイズ */
}

/* ==================================== */
/* 保管方法の提案ページ固有のスタイル */
/* ==================================== */
  .app-main .result {
    max-width: 320px;
  }
  .result .badge {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 12px; /* 丸みをつける */
  }
  
  .badge-important { background-color: #F8D7DA; }
  .badge-folder { background-color: 	#D0E3FC; }
  .badge-trash { background-color: #E0E0E0; }
/* ==================================== */
/* アカウント作成ページ固有のスタイル */
/* ==================================== */
  .signup-form-container .form-group {
    margin-bottom: 16px; /* アカウント作成フォームグループの間隔を16pxに上書き */
  }
/* ==================================== */
/* ログインページ固有のスタイル */
/* ==================================== */
  .registar .subtitlemd {
    margin-top: 32px;
    margin-bottom: 8px;
  }
  .registar .bodysm-s {
    margin-bottom: 24px;
  }

  .checkbox-group {
    display: flex; 
  }
  .checkbox-group .checkbox {
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border: 1px solid #CCCCCC;
  }
  .checkbox-group bodysm {
    align-items: center;
  }
/* ==================================== */
.btn-l{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.btn-btm {
  position: fixed;
  bottom: 92px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
}

.btn{
  width: 280px;
  height: 56px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #7EBDE2;
  color: #FFFFFF;
  border: none;
}

.btn-l .btn {
  margin-bottom: 24px;
}

.app-footer {
  height: 68px;
  background-color: #7EBDE2;
  color: #FFFFFF;
  text-align: center;
  padding-top: 1vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.menu-icon-hum {
  color: #FFB6C1;
  width: 48px;
  height: 48px;
  padding-right: 16px;
}

.menu-icon {
  color: #FFB6C1;
  width: 48px;
  height: 48px;
}

/* ==================================== */
/* 書類一覧ページ固有のスタイル */
/* ==================================== */
.no-documents-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px; /* ある程度の高さを確保 */
  margin-bottom: 30px; /* ボタンとの間隔 */
}

.documents-list-grid {
  display: grid;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 理想のレイアウトに合わせて、1列表示で中央寄せ */
  grid-template-columns: minmax(326px, 1fr); /* 最小326px、最大で利用可能な幅 */
  gap: 16px; /* カード間の間隔 */
  width: 100%;
  max-width: 360px; /* カード幅326px + 左右の余白 */
  margin: 0 auto 100px auto;
}

.document-card {
  width: 326px; /* カードの寸法 */
  height: 120px; /* カードの寸法 */
  background-color: #FFFFFF; /* カードの背景色 */
  border-radius: 12px; /* 角の半径 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 軽い影 */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left; /* テキストを左寄せ */
  position: relative; /* 詳細を見るボタンの配置用 */
  align-items: flex-start;
}

.document-info-content {
  display: flex;
  flex-direction: column;
  gap: 16px; /* 文字列どうしの間隔16px */
  padding: 12px;
  flex-grow: 1;
}

/* 「書類を追加する」固定ボタンのコンテナ */
  .fixed-add-button-container {
    position: fixed; /* 画面に固定 */
    bottom: 84px; /* 下からの位置 */
    left: 50%; /* 水平中央寄せの基準 */
    transform: translateX(-50%); /* 自身の幅の半分だけ左にずらして完全に中央寄せ */
    width: 100%; /* 親要素の幅に合わせる */
    display: flex;
    justify-content: center; /* ボタンを中央に配置 */
    padding: 0 20px; /* 左右のパディング */
    box-sizing: border-box;
    z-index: 2; /* 他のコンテンツの上に表示 */
  }

  .fixed-add-button {
    /* main-action-buttonのスタイルを継承 */
    /* 必要であれば、ここで固定ボタンに特有のスタイルを上書き */
    width: 280px; /* 固定ボタンの幅 */
    height: 56px; /* 固定ボタンの高さ */
    background-color: #FFB6C1;
    color: #1f1f1f;
  }

  .document-info-content {
    display: flex;
    flex-direction: column;
    gap: 16px; /* 文字列どうしの間隔16px */
  }

  .document-info-content .text-l {
    font-size: 14px;
  }

  .document-card-actions {
    position: absolute; /* ボタンをカード内に絶対配置 */
    bottom: 16px; /* 下からの位置を調整 */
    right: 12px; /* 右からの位置を調整 */
  }

  .detail-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px; /* 詳細を見るボタンの寸法 */
    height: 32px; /* 詳細を見るボタンの寸法 */
    background-color: #7EBDE2; /* ボタンの色 */
    color: #FFFFFF; /* 文字色 */
    border-radius: 6px; /* 角の半径 */
    text-decoration: none;
    font-size: 14px; /* ボタンの文字サイズ */
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
  }

/* ==================================== */
/* タブ切りかえ */
/* ==================================== */
/* タブ全体のスタイル */
.tabs {
  max-width: 320px;
  margin: 0 auto;
}

/* ラジオボタンは非表示に */
.tabs > input[type="radio"] {
  display: none;
}

/* ラベルの見た目 */
.tabs label {
  display: inline-block;
  padding: 10px 12px;
  font-size: 15px;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-right: -1px;
  font-weight: 600;
  user-select: none;
  transition: background-color 0.3s ease;
}

/* 選択されていないタブのラベルは淡い色 */
.tabs label:hover {
  background-color: #ddd;
}

/* チェックされたラジオボタンに対応するラベルのスタイル */
.tabs input[type="radio"]:checked + label {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  top: 1px;
}

/* タブコンテンツは全て非表示に */
.tab-content {
  display: none;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  clear: both;
}

/* チェックされたラジオボタンに対応するタブコンテンツのみ表示 */
/* ここでは id="tab1" のinputがチェックされたら #content1 を表示、と紐付け */
/* input#tab1:checked ~ .content #content1 という形で兄弟要素を指定 */
.tabs #tab1:checked ~ .content #content1,
.tabs #tab2:checked ~ .content #content2,
.tabs #tab3:checked ~ .content #content3,
.tabs #tab4:checked ~ .content #content4 {
  display: block;
}

.tab-content .btn {
  height: 44px;
}

.btn-irreg {
  display: flex;
  align-items: center;
  width: 280px;
  justify-content: space-around;
}

.btn-irreg .btn {
  width: 128px;
  height: 44px;
  margin-top: 16px;
}

.btn-danger {
  width: 280px;
  height: 44px;
  background-color: #FFB6C1; 
  color: #1f1f1f;
  margin-top: 16px;
  display: flex; /* ブロック要素かつFlexboxコンテナにする */
  align-items: center; /* 垂直方向の中央寄せ */
  justify-content: center; /* 水平方向の中央寄せ (テキスト用) */
  margin-left: auto; /* ボタン自体を水平中央寄せ */
  margin-right: auto; /* ボタン自体を水平中央寄せ */
  border-radius: 8px; 
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 44px;
}

.file-name-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px; /* ボタンとの間に間隔を設ける */
  text-align: center; /* 中央揃え */
}
.btn-l .file-btn {
  margin-bottom: 4px;
}
.file-name {
  margin-bottom: 16px;
}

  .tab-content p {
    text-align: left;
  }
  .tab-content .form-group, .tab-content .form-group-l {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 280px; /* 最大幅は制限 */
  }
  .tab-content .input-field {
    max-width: 280px; /* 入力欄の最大幅 */
  }

  .form-group-l .input-field {
  width: 280px; /* 入力欄フォームの寸法320px */
  height: 96px;
  padding: 8px 12px;
  border: 1px solid #CCCCCC; /* ボーダー色をグレーに */
  border-radius: 8px; /* 角の半径8px */
  box-sizing: border-box;
  font-size: 16px; /* 入力文字のサイズ */
  }

  .tab-content .bodysm-s {
    margin-bottom: 24px;
  }

  .radio-group-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 24px auto;
    max-width: 320px;
    width: 100%;
    box-sizing: border-box;
  }

  .tabs .radio-option {
    display: flex;
    align-items: center;
    padding: 0;
    background-color: #FFFFFF;
    border: none;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
  }

  .radio-option .radio-button {
    margin: 0 8px;
    width: 16px;
    height: 16px;
  }
  .radio-option p {
    margin-left: 8px;
    font-size: 16px;
    color: #1f1f1f;
  }

  #upload-form .btn {
    margin-bottom: 0;
  }

  .thumbnail-gallery {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  }

  .thumbnail-item {
    display: flex;
    align-items: center;
    gap: 10px; /* サムネイルとボタンの間の間隔 */
  }

  .thumbnail-gallery img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid #ccc;
  }

  .delete-thumb-btn {
    width: 72px;
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    background-color: #AED6F1;
    color: #1F1F1F;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    line-height: 36px;
  }
/* ==================================== */
/* ハンバーガーメニュー */
/* ==================================== */
.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 312px;
  height: 100vh;
  background-color: #F2F7FB;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
  z-index: 3; /* メニューを最前面に表示 */
  padding: 1rem;
}

.hamburger-menu a {
  padding: 14px 16px;
  text-decoration: none;
  color: #1F1F1F;
  border-bottom: 1px solid #1F1F1F;
}

.hamburger-menu.active {
  right: 0;
}

.menu-toggle {
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 8px;
}

.side-menu-header {
  display: flex;
  justify-content: space-between;
  height: 68px;
  box-sizing: border-box;
  background-color: #7EBDE2;
  color: #FFFFFF;
  margin: -1rem;
  padding: 1rem;
}

.side-menu-header p, .side-menu-header div {
  display: flex;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  width: 312px;
  height: 72px;
  text-decoration: none;
  padding: 0 16px;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 32px;
}

.menu-item .menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  color: #1F1F1F; /* アイコンの色 */
}

.menu-text-content {
  display: flex;
  flex-direction: column;
  color: #1F1F1F;
}

/* ==================================== */
/* バッヂの色とアイコン */
/* ==================================== */
  .badge {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 8px;
  }
  .badge-red { background-color: #D93025; }   /* 紙で保管が必要 */
  .badge-blue { background-color: #1E88E5; }  /* データ保管でOK */
  .badge-gray { background-color: #9E9E9E; }  /* 処分してOK */

  .badge-icon {
    width: 16px;
    height: 16px;
    color: #1f1f1f;
  }

/* ==================================== */
/* フラッシュメッセージ */
/* ==================================== */
.flash {
  position: fixed;
  top: 76px;
  width: 100%;
  height: 48px;
  padding: 8px 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #D4EDF9;
  color: #166088;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.flash-left {
  text-align: left;
}

.alert-danger {
  display: none;
}
/* ==================================== */
/* モーダル用スタイル */
/* ==================================== */
  .modal {
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
  }
  .modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
  }
  .close {
    position: absolute;
    top: 20px; right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }

/* ==================================== */
/* モーダル用（保管期限）スタイル */
/* ==================================== */  
.expiry-modal {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 358px;
  height: 315px;
  background-color: #F2F7FB;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  z-index: 2;
  display: none;
  padding: 16px;
}

.expiry-modal-content {
  text-align: center;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.expiry-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #1F1F1F;
}

.expiry-option {
  justify-content: center;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.expiry-submit {
  margin-top: auto;
}

.expiry-modal .close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 24px;
  cursor: pointer;
  color:#1F1F1F;
}
.expiry-text {
  margin-left: 8px;
}

/* ボタン */
.expiry-btns {
  justify-content: center;
  display: flex;
  gap: 12px;
  margin-top: 16px;
  justify-content: flex-between;
}

.expiry-btns .btn {
  width: 136px;
  height: 44px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #ccc;
  border: none;
  border-radius: 8px;
}

.save-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
}
/* ==================================== */
/* モーダル用（保管期限）スタイル */
/* ==================================== */  
.guest-modal {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 358px;
  height: auto;
  background-color: #F2F7FB;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  z-index: 2;
  display: none;
  padding: 16px;
}
.guest-box {
  display: flex; /* Flexboxを有効にする */
  flex-direction: column; /* 要素を縦に並べる */
  align-items: center; /* 水平方向の中央揃え */
  justify-content: center; /* 垂直方向の中央揃え */
  height: 100%; /* 親要素(guest-modal)の高さいっぱいを使う */
  position: relative; /* 子要素（閉じるボタン）の位置基準にする */
}
.guest-modal .close {
  position: absolute;
  top: -12px;
  right: 0px;
  font-size: 24px;
  cursor: pointer;
  color:#1F1F1F;
}
.guest-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px; /* ボタン間の間隔 */
}
.guest-btn {
  background-color: #fff;
  color: #7EBDE2;
  border: 1px solid #7EBDE2;
}

/* ==================================== */
/* バリデーションエラーのメッセージ */
/* ==================================== */
.floating-error {
  position: fixed;       /* ページ上に固定 */
  top: 45%;             
  left: 50%;             /* 横中央 */
  transform: translateX(-50%); /* 真ん中に揃える */
  background-color: #ffdddd; 
  color: #1f1f1f;
  padding: 12px 20px;
  border-radius: 8px;
  z-index: 1;         /* 他の要素より上に */
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
.error-flash {
  position: fixed;       /* 画面上に固定 */
  top: 84px;             
  left: 50%;             /* 横方向中央 */
  transform: translateX(-50%); /* 中央寄せ */
  background-color: #ffdddd; /* 背景色（赤系でエラー感） */
  color: #1f1f1f;           /* 文字色 */
  border: 1px solid #f00; 
  border-radius: 6px;
  padding: 10px 32px;
  z-index: 1;         /* 他の要素より前面に表示 */
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  max-width: 90%;        /* 幅を画面に収める */
  opacity: 1;
  transition: opacity 1s ease-out; /* フェードアウト */
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 0px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
